# Data Science Tools and Ecosystem

# Introduction 
## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- Popular languages in data science
- Various libraries for data science
- Introduction to jupyter notebook
- Introduction to github

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Keras
5. Matplotlib
6. Seaborn

# Table of of Data Science tools
|Data Science Tools|
|-------------------|
|Programming languages:Python, R, SQL|
|Data science libraries:Pandas, Numpy|
|Machine learning libraries:	Scikit-learn, TensorFlow ,PyTorch |
|Data Visualization:Matplotlib ,Seaborn|

### Below are a few examples of evaluating arithmetic expressions in Python

#  This a simple arithmetic expression to mutiply then add integers

In [139]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [142]:
minutes = 200;
hours = minutes / 60;
hours

3.3333333333333335

## Author Name
 Partha Sarathi Mohapatra